* {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../public/noto-sans-v27-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../public/noto-sans-v28-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url('../public/manrope-v14-latin-500.woff2') format('woff2');
}

input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
}