* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

@font-face {
  font-display: swap;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/noto-sans-v27-latin-regular.woff2') format('woff2');
}